<html>
  <head>
    <title>bit-stream</title>
    <link rel="shortcut icon" href="static/icon.ico">
    <link rel="stylesheet" type="text/css" href='static/styles.css'/>
    <link href='http://fonts.googleapis.com/css?family=Cinzel+Decorative' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="centered text">
      <form action="/link" method="POST">
        <input name="link" class="text search" type="text" required>
        <input class="text search" type="submit" value="go">
      </form>
    </div>
    <div class="footer">
      <a href="/favourites" class="navButton text">favorites</a>
      <a href="/" class="navButton text">home</a>
    </div>
  </body>
</html>
