<html>
  <head>
    <title>bit-stream</title>
    <link rel="shortcut icon" href="static/icon.ico">
    <link rel="stylesheet" type="text/css" href='static/styles.css'/>
    <link href='http://fonts.googleapis.com/css?family=Cinzel+Decorative' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="centered text">
      <h1>bit-stream is alive</h1>
      <form action="/shows" method="POST">
        <input name="show" class="text search" type="text" placeholder="search..." required>
        <input class="text search" type="submit" value="search">
      </form>
    </div>
    <div class="footer">
      <a href="/favourites" class="navButton text">favorites</a>
      <a href="/direct" class="navButton text">direct</a>
    </div>
  </body>
</html>
