//==============================
// Fonts
//==============================

@font-face {
  font-family: 'icons';
  src: url('../fonts/icons/icons.eot?69085033');
  src: url('../fonts/icons/icons.eot?69085033#iefix') format('embedded-opentype'),
    url('../fonts/icons/icons.woff?69085033') format('woff'),
    url('../fonts/icons/icons.ttf?69085033') format('truetype'),
    url('../fonts/icons/icons.svg?69085033#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

// @font-face {
//   font-family: 'icons';
//   src: url('../fonts/icons.eot?18117660');
//   src: url('../fonts/icons.eot?18117660#iefix') format('embedded-opentype'),
//        url('../fonts/icons.svg?18117660#icons') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }