//==============================
// Variables
//==============================


// Colors
//------------------------------

$grey         : #ccc;
$selection    : #b3d4fc;
$blue         : #00bce4;
$darkgrey     : #333;

// Typography
//------------------------------

$text-margin  : 15px;
